/Build/INSTALL
/Build/Makefile.in
/Build/aclocal.m4
/Build/autom4te.cache/output.0
/Build/autom4te.cache/output.1
/Build/autom4te.cache/output.2
/Build/autom4te.cache/output.3
/Build/autom4te.cache/requests
/Build/autom4te.cache/traces.0
/Build/autom4te.cache/traces.1
/Build/autom4te.cache/traces.2
/Build/autom4te.cache/traces.3
/Build/config.h.in
/Build/config/compile
/Build/config/config.guess
/Build/config/config.sub
/Build/config/depcomp
/Build/config/install-sh
/Build/config/ltmain.sh
/Build/config/missing
/Build/configure
/Build/m4/libtool.m4
/Build/m4/ltoptions.m4
/Build/m4/ltsugar.m4
/Build/m4/ltversion.m4
/Build/m4/lt~obsolete.m4

*.pyc

/Includes/libARController/ARCONTROLLER_Feature.h
/Includes/libARController/ARCONTROLLER_Device.h

/Sources/ARCONTROLLER_Feature.h
/Sources/ARCONTROLLER_Feature.c
/Sources/ARCONTROLLER_Device.h
/Sources/ARCONTROLLER_Device.c
/Sources/ARCONTROLLER_Error.c

/JNI/java/com/parrot/arsdk/arcontroller/ARCONTROLLER_ERROR_ENUM.java
/JNI/java/com/parrot/arsdk/arcontroller/ARCONTROLLER_FEATURE_DICTIONARY_KEY_ENUM.java
/JNI/java/com/parrot/arsdk/arcontroller/ARCONTROLLER_FEATURE_DICTIONARY_VALUE_TYPE_ENUM.java

